{"filter":false,"title":"Requirements.txt","tooltip":"/CPP_Project/MyApplication/Requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":15,"column":15},"action":"insert","lines":["boto3==1.16.32","botocore==1.19.32","click==7.1.2","dominate==2.6.0","Flask==1.1.2","Flask-Bootstrap==3.3.7.1","itsdangerous==1.1.0","Jinja2==2.11.2","jmespath==0.10.0","MarkupSafe==1.1.1","python-dateutil==2.8.1","s3transfer==0.3.3","six==1.15.0","urllib3==1.26.2","visitor==0.1.3","Werkzeug==1.0.1"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":87,"mode":"ace/mode/text"}},"timestamp":1607547546817,"hash":"9f0ac3bf88166c3b518501f1cb671865c1d5b4d0"}