{% extends "layout.html" %}
{% block content %}

  {% if msg %}
  <h2>{{ msg }}</h2>
  {% endif %}


<section>
  <legend>Create Your Article</legend>
  <form method="post" action="/article">
    <div class="form-group">
      <input class="form-control" type="text" name="headline" placeholder="Headline">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="subline" placeholder="Subline">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" rows="10" cols="70" name="body" placeholder="Body Text">
    </div>
    <div class="form-group">
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <input id="singlebutton" name="submit" class="btn btn-primary" type="submit" value="Publish" />
            </form>
        </div>
      </div>
    </div>
  </form>
</section>
<br/>
<h2>Top Headlines in Ireland</h2>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for item in contents %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5><u>{{ item.source }}</u></h5>
              <h6><strong>{{ item.title }}</strong></h6>
              <p class="card-text">{{ item.description }}</p>
              <a href="{{ item.url }}">
                <input name="url" class="btn btn-primary" type="submit" value="View Article" />
              </a>
            </div>
          </div>
        </div>
         {% endfor %}
      </div>
    </div>
  </div>
      
{% endblock %}