{% extends "storage.html" %}

{% block content %}





  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      {% for item in contents %}
          
          <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ item.Headline }}</h5>
    <h6 class="card-title">{{ item.Subline }}</h6>
    <p class="card-text">{{ item.BodyText }}</p>
    
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
          {% endfor %}
        </div>
      </div>
    </div>
    
          {% endblock %}