{% extends "layout.html" %}
{% block content %}


      <div class="jumbotron">
        <h2> {{ msg }}</h2>
        <div>
          <h3>These are your uploaded files:</h3>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/{{ item.Key }}"> {{ item.Key }} </a>
              </li>
            {% endfor %}
            <br/>
            <button onclick="location.href = '/upload';" id="myButton" class="float-left submit-button" >Upload more files</button>
          </ul>
        </div>
        
      </div>
      
  <div class="album py-5 bg-light">
    <div class="container">
      {% for item in contents %}
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ item.image }}" style="width:100%;height:100%;"/>
            <div class="card-body">
              <p class="card-text">{{ item.Key }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/{{ item.Key }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
      {% endfor %}


    </div> <!-- /container -->

{% endblock %}



